.element-title {
  text-align: center;
}

.back-button {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  text-align: right;
  width: 24px;
}

.element-info {
  .element-card {
    border-radius: 8px;
    width: 10vw;
    height: 10vw;

    h2 {
      font-size: 64px;
      font-weight: 400;
      text-align: center;
      margin: 0px;
    }
  }

  margin: auto;
  width: 60vw;
}