
.element-header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 20px;
  width: 60vw;
  max-width: 1000px;
}

.element-title {
  margin: 0px;
  text-align: center;
}

.back-button {
  cursor: pointer;
  top: 24px;
  right: 24px;
  text-align: right;
  width: 24px;
}

.element-details {
  padding: 28px;
  margin: auto;
  width: 60vw;
  max-width: 1000px;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.element-info {

  .row-one {
    display: flex;
    justify-content: space-between;
    
    .element-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      padding: 10px;
      border-radius: 8px;
      width: 15vw;
      height: 15vw;
      max-height: 265px;
  
      .element-card-header {
        display: flex;
        justify-content: space-between;
      }
  
      .element-card-footer {
        display: flex;
        gap: 8px;
        padding-bottom: 8px;
        flex-direction: column;
        text-align: center;
      }
  
      p {
        margin: 0px;
      }
  
      h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 64px;
        font-weight: 400;
        text-align: center;
        margin: 0px;
      }
    }
  
    .icon {
      width: 18px;
    }

    .element-highlights {
      width: 40vw;
      display: flex;
      flex-direction: column;
      align-items: end;

      .element-highlight {
        display: flex;

        img {
          &.inactive {
            opacity: 0.1;
          }

          &.liquid {
            width: 14px;
          }

          &.gas {
            width: 22px;
          }

          margin-left: 10px;
        }

        .type-container {
          display: flex;
          align-items: end;
        }

        p {
          text-align: right;
          margin: 4px 0px;
        }
      }
    }
  }

  .element-data {
    display: flex;
    justify-content: space-between;

    div {
      width: 28%;
    }

    p {
      font-weight: 600;
      display: flex;
      justify-content: space-between;

      span {
        text-align: right;
        font-weight: 400;
      }
    }

    h3 {
      background: none;
    }
  }
}

.loading-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20% 20px;

  img {
    animation: bounce 1s ease-out 3;
    width: 100px;
  }
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  20% { transform: translateY(-20px); }
  40% { transform: translateY(0); }
  60% { transform: translateY(-10px); }
  80% { transform: translateY(0); }
}