.element-title {
  text-align: center;
}

.back-button {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  text-align: right;
  width: 24px;
}

.element-info {
  margin: auto;
  width: 60vw;

  .row-one {
    display: flex;
    
    .element-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      padding: 10px;
      border-radius: 8px;
      width: 15vw;
      height: 15vw;
  
      .element-header {
        display: flex;
        justify-content: space-between;
      }
  
      .element-footer {
        display: flex;
        gap: 8px;
        padding-bottom:8px;
        flex-direction: column;
        text-align:center;
      }
  
      p {
        margin: 0px;
      }
  
      h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 64px;
        font-weight: 400;
        text-align: center;
        margin: 0px;
      }
    }
  
    .icon {
      width: 18px;
    }

    .element-highlights {
      width: 45vw;
      display: flex;
      flex-direction: column;
      align-items: end;

      .element-highlight {
        display: flex;

        img {
          &.inactive {
            opacity: 0.1;
          }

          &.liquid {
            width: 14px;
          }

          &.gas {
            width: 22px;
          }

          margin-left: 10px;
        }

        .type-container {
          display: flex;
          align-items: end;
        }

        p {
          margin: 4px 0px;
        }
      }
    }
  }

  .element-data {
    display: flex;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    div {
      padding: 20px;
    }
  }
}