.element {
  border-radius: 5px;
  margin: 2px;
  width: 5vw;
  height: 5vw;
  
  &:hover {
    cursor: pointer;
    margin: 0px;
    padding: 2px;
  }
}

.atomic-number {
  font-size: 12px;
  margin: 2px;
}

.symbol {
  font-size: 32px;
  text-align:center;
  margin: 0px;
  font-weight: 400;
}

.element-name {
  font-size: 12px;
  text-align:center;
  margin: 0px;
  text-overflow: ellipsis;
}

.nonmetal:hover {
  background-color: #037F8C80;
  color: #037F8C;
}

.halogen:hover {
  background-color: #A6036580;
  color: #A60365;
}

.noble-gas:hover {
  background-color: #03A69680;
  color: #03A696;
}

.alkali-metal:hover {
  background-color: #F2C87980;
  color: #F2C879;
}

.alkaline-earth:hover {
  background-color: #F27F3D80;
  color: #F27F3D;
}

.transition-metal:hover {
  background-color: #A6465780;
  color: #A64657;
}

.metalloid:hover {
  background-color: #F2644480;
  color: #F26444;
}

.post-transition-metal:hover {
  background-color: #8BD9D980;
  color: #8BD9D9;
}

.actinide:hover {
  background-color: #F2937E80;
  color: #F2937E;
}

.lanthanide:hover {
  background-color: #F2C64180;
  color: #F2C641;
}

.transactinide:hover {
  background-color: #4AA96580;
  color: #4AA965;
}