/* You can add global styles to this file, and also import other style files */
@import "styles/_fonts.scss";

body {
    font-family: 'Roboto Slab';
}

h1 {
    font-family: 'Roboto Slab';
}

h2 {
    font-family: 'Rubik'
}